<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.username %> wrote a new post!</h1>
    <p>
      The title of the post is: <strong><%= @title %></strong><br>
      To read, go to this <a href="<%= @url %>" target="_blank">link</a>
    </p>
    <p>Have a great day!</p>
  </body>
</html>